a:visited.blue-link {
    color: #17a2b8;
}

a:link.blue-link {
    color: #17a2b8;
}

a:visited.black-link {
    color: #000000;
}

a:link.black-link {
    color: #000000;
}

a:hover.black-link {
    color: #17a2b8;
    text-decoration: none;
}

a:link.tab-link {
    color: #252525;
}

a:link.tab-link.active {
    color: #17a2b8;
}

.center-confirmation {
    margin: auto;
    width: 50%;
  }