{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'uks_app/style.css' %}">

{% block content %}
    <h3 style="margin-top:50px" >
      Projects
      <span style="float: right;"><a href="{% url 'new_project' %}" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-folder-plus"></i> New project</a></span>
    </h3>

    <hr>

    {% if project_list %}
        <div class="row backg" style="margin-top: 50px;">
            <!-- list of all projects -->
            {% for project in project_list %}
                <div class="col-lg-6" style="margin-bottom: 10px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5><a href="{% url 'one_project' project.id %}">{{project.name}}</a></h5>
                            <h6>{{project.git_repo}}</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{project.description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no projects available.</p>
    {% endif %}
{% endblock %}