{% extends 'base.html' %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Welcome to MiniHub</h1>
                <p class="lead">New to MiniHub? Create an account.</p>
                <!--<button class="btn btn-lg btn-dark btn-login text-uppercase font-weight-light mb-2" [routerLink]="['/registration']">Register</button>-->
            </div>
        </div>
    </div>
{% endblock %}
