{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}

<h3 class="mb-3">{{object.title}}
    <span style="float: right;">
        <a href="{% url 'one_project' object.project.id %}" class="btn btn-secondary"><i class="fas fa-arrow-circle-left mr-2"></i>Return to project</a>
    </span>
</h3>

<h6 class="mb-4">{{object.description}}
        <span style="float: right;">
            {% if object.state == "OP" %}
                <a href="{% url 'change_state_issue' object.project.id object.id %}" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Close issue"><i class="fas fa-times-circle"></i></a>
            {% else %}
                <a href="{% url 'change_state_issue' object.project.id object.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Reopen issue"><i class="fas fa-exclamation-circle"></i></a>
            {% endif %}
                    <a href="{% url 'edit_issue' object.project.id object.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit issue"><i class="fas fa-edit"></i></a>
            <a href="{% url 'delete_issue' object.id %}" class="btn btn-secondary"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="bottom" title="Delete issue"></i></a>
        </span>
</h6>

<h6>
    {% if issue.parent_issue != None %}
        Parent issue: <a class="black-link" href="{% url 'one_issue' issue.parent_issue.id %}">{{issue.parent_issue.title}}</a>
    {% endif %}
</h6>

<h6>
    {% if issue.state == 'CL'%}
        <i style="margin-right: 10px; margin-top: 8px; color: red" class="fas fa-exclamation-circle"></i>This issue is closed.
    {% endif %}
</h6>

<hr>

<div >
    {% if user.is_authenticated %}
        <span><a href="{% url 'new_comment' object.id %}" style="margin-bottom: 10px" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-plus-circle"></i>New comment</a></span>
    {% endif %}


<div class="row mt-2">
    <!-- main part -->
    <div class="col-9">
        {% if events %}
            {% for event in events %}
            {% with event|classname as modelclass %}
            <div class="card mb-2">
                <div class="card-body">
                        {% if modelclass == "MilestoneChange" %} 
                            <div class="row">       
                                <i style="margin-right: 10px; margin-top: 8px; color: #17a2b8" class="fas fa-map-signs"></i>
                                <p>{{event.checkpoint.title}}
                                {% if event.add %}
                                    <br>Milestone added!</p>
                                {% else %}
                                    <br>Milestone removed!</p>
                                {% endif %}
                                <p class="ml-auto">User: {{event.user}}<br>Change date: {{event.time}}</p>
                            </div>
                            
                        {% elif modelclass == "Comment" %}
                            
                            <div class="d-flex bd-highlight border-bottom mb-2">
                            <div class="p-2 bd-highlight">
                                          <img style="margin-right: 5px; margin-bottom: 7px;" class="rounded " width="30" height="30" src="{{ event.user.profile.image.url }}">
                                    <span style="font-size: 1.25rem; color: #17a2b8" class="card-title"> {{event.user}} </span>
                                    <span class="text-muted"> commented on {{event.time}} </span>
                            </div>

                                <div class="ml-auto p-2 bd-highlight text-muted">
                                    {% if user.is_authenticated and user == event.user %}
                                        <a data-toggle="tooltip" data-placement="top" title="Edit comment" href="{% url 'edit_comment' event.issue_id event.id %}"><i class="fa fa-edit" style="color: #17a2b8"></i></a>
                                    {% endif %}
                                    <a data-toggle="tooltip" data-placement="top" title="Open comment history" href="{% url 'one_comment' event.id %}"><i class="fa fa-history" style="color:#5aa6b0 "></i></a>
                                    {% if user.is_authenticated and user == event.user%}
                                        <a data-toggle="tooltip" data-placement="top" title="Delete comment" href="{% url 'delete_comment' event.issue_id event.id %}"><i class="fa fa-trash" style="color:gray"></i></a>
                                    {% endif %}
                                </div>
                        </div>
                        <div class="row">
                            <i style="margin-right: 10px; margin-top: 8px; color: white" class="fas fa-ellipsis-h"></i>
                            {% if event.commentchange_set.all %}
                                {% for comment_change in event.commentchange_set.all %}
                                    {% if forloop.last %}
                                        <p>{{comment_change.newComment}}</p>

                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <p class="card-text">{{event.description}}</p>
                            {% endif %}
                        </div>


                        {% endif %}
                        {% endwith %}

                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No changes</p>
        {% endif %}

        
    </div>
    
    <!-- side part -->
    <div class="col-3">
        <p>Assignee</p>
        <p style="font-size:x-small"><i style="margin-right: 10px; margin-top: 6px;" class="fas fa-user-secret"></i>Vesna Milic</p>
        
        <hr>

        <p>Labels
        {% if user.is_authenticated %}
            <span style="float: right;"> 
                <a href="{% url 'choose_label' issue.id %}"><i style="margin-top: 6px; color:#17a2b8" class="fas fa-plus"></i></a></p>
            </span>
        {% endif %}
        {% if  issue.labels.all %}
            <p style="font-size:x-small">
                {% for label in issue.labels.all %}
                    <i style="margin-right: 10px; margin-top: 6px; color: {{label.color}}" class="fas fa-tag"></i>{{label.name}} 
                    {% if user.is_authenticated %}
                        <a class="black-link" style="float: right;" href="{% url 'remove_label' issue.id label.id %}"><i style="margin-top: 6px;" class="fas fa-times"></i></a>
                    {% endif %}
                    </br>
                {% endfor %}            
            </p>
        {% else %}
            <p style="font-size:x-small">There are currently no labels.</p>
        {% endif %}

        <hr>

        <p>Milestones
        {% if user.is_authenticated %}
        <span style="float: right;"> 
            <a href="{% url 'choose_milestone' issue.id %}"><i style="margin-top: 6px; color:#17a2b8" class="fas fa-plus"></i></a></p>
        </span>
        {% endif %}
        {% if  issue.milestones.all %}
            <p style="font-size:x-small">
                {% for milestone in issue.milestones.all %}
                    <i style="margin-right: 10px; margin-top: 6px;" class="fas fa-check-circle"></i>{{milestone.title}} 
                    {% if user.is_authenticated %}
                        <a class="black-link" style="float: right;" href="{% url 'remove_milestone' issue.id milestone.id %}"><i style="margin-top: 6px;" class="fas fa-times"></i></a>
                    {% endif %}
                    </br>
                {% endfor %}            
            </p>
        {% else %}
            <p style="font-size:x-small">There are currently no milestones.</p>
        {% endif %}

        <hr>

        <p>Subissues
        {% if user.is_authenticated %}
            <span style="float: right;"> 
                <a href="{% url 'choose_subissue' issue.id %}"><i style="margin-top: 6px; color:#17a2b8" class="fas fa-plus"></i></a></p>
            </span>
        {% endif %}
        {% if  issue.subissues.all %}
            <p  style="font-size:x-small; overflow: hidden; text-overflow: ellipsis;">
                {% for subissue in issue.subissues.all %}
                    <a class="black-link" href="{% url 'one_issue' subissue.id %}"><i style="margin-right: 10px; margin-top: 6px" class="fas fa-exclamation-circle"></i>{{subissue.title}}</a>
                    {% if user.is_authenticated %}
                        <a class="black-link" style="float: right;" href="{% url 'remove_subissue' issue.id subissue.id %}"><i style="margin-top: 6px;" class="fas fa-times"></i></a>
                    {% endif %}
                    </br>
                {% endfor %}            
            </p>
        {% else %}
            <p style="font-size:x-small">This issue doesn't have subissues.</p>
        {% endif %}
    </div>
</div>


{% endblock %}
