{% extends 'base.html' %}

{% block content %}

<h3 class="mb-3">{{object.title}}
    <span style="float: right;">
        <a href="{% url 'one_project' object.project.id %}" class="btn btn-secondary"><i class="fas fa-arrow-circle-left mr-2"></i>Return to project</a>
    </span>
</h3>

<h6 class="mb-4">{{object.description}}
    <span style="float: right;">
        {% if object.state == "OP" %}
            <a href="{% url 'change_state_issue' object.project.id object.id %}" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Close issue"><i class="fas fa-times-circle"></i></a>
        {% else %}
            <a href="{% url 'change_state_issue' object.project.id object.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Reopen issue"><i class="fas fa-exclamation-circle"></i></a>
        {% endif %}
                <a href="{% url 'edit_issue' object.project.id object.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit issue"><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_issue' object.project.id object.id %}" class="btn btn-secondary"><i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="bottom" title="Delete issue"></i></a>
    </span>
</h6>

<h6>
    {% if issue.state == 'CL'%}
        <i style="margin-right: 10px; margin-top: 8px; color: red" class="fas fa-exclamation-circle"></i>This issue is closed.
    {% else %}
    {% endif %}
</h6>

<hr>

<div class="row mt-2">
    <!-- main part -->
    <div class="col-9">
        <p>Comments and stuff</p>
    </div>
    
    <!-- side part -->
    <div class="col-3">
        <p>Assignee</p>
        <p style="font-size:x-small"><i style="margin-right: 10px; margin-top: 6px;" class="fas fa-user-secret"></i>Vesna Milic</p>
        
        <hr>

        <p>Labels
        <span style="float: right;"> 
            <a href="{% url 'choose_label' issue.id %}"><i style="margin-top: 6px; color:#17a2b8" class="fas fa-plus"></i></a></p>
        </span>
        {% if  issue.labels.all %}
            <p style="font-size:x-small">
                {% for label in issue.labels.all %}
                    <i style="margin-right: 10px; margin-top: 6px; color: {{label.color}}" class="fas fa-tag"></i>{{label.name}} 
                    <a class="black-link" style="float: right;" href="{% url 'remove_label' issue.id label.id %}"><i style="margin-top: 6px;" class="fas fa-times"></i></a>
                    </br>
                {% endfor %}            
            </p>
        {% else %}
            <p style="font-size:x-small">There are currently no labels.</p>
        {% endif %}

        <hr>

        <p>Milestones</p>
    </div>
</div>

{% endblock %}