{% extends 'base.html' %}

{% block content %}

<h3 style="margin-bottom: 20px">{{object.title}}
    <span style="float: right;">
        <a href="{% url 'one_project' object.project.id %}" class="btn btn-secondary"><i style="margin-right: 10px" class="fas fa-arrow-circle-left"></i>Return to project</a>
    </span>
</h3>

<h6 style="margin-bottom: 50px">{{object.description}}
    <span style="float: right;">
        <a href="{% url 'edit_issue' object.project.id object.id %}" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-edit"></i>Edit</a>
        {% if object.state == "OP" %}
            <a href="{% url 'change_state_issue' object.project.id object.id %}" class="btn btn-secondary"><i style="margin-right: 10px" class="fas fa-times-circle"></i>Close</a>
        {% else %}
            <a href="{% url 'change_state_issue' object.project.id object.id %}" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-exclamation-circle"></i>Reopen</a>
        {% endif %}
        <a href="{% url 'delete_issue' object.project.id object.id %}" class="btn btn-secondary"><i style="margin-right: 10px" class="fas fa-trash-alt"></i>Delete</a>
    </span>
</h6>

<h6>
    {% if issue.state == 'CL'%}
        <i style="margin-right: 10px; margin-top: 8px; color: red" class="fas fa-exclamation-circle"></i>This issue is closed.
    {% else %}
    {% endif %}
</h6>

<hr>

{% if object.milestonechange_set.all %}

    {% for milestone_change in object.milestonechange_set.all %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <p class="ml-auto">Change date: {{milestone_change.time}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}