{% extends 'base.html' %}

<script>
{% block jquery %}

var endpoint = '/api/chart/data/' + {{object.id}}
console.log(endpoint)
var values = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        labels = data.labels
        values = data.values
    
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Number of open issues',
                data: values,
                backgroundColor: [
                    'rgba(23, 162, 184, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(23, 162, 184, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
        
    });
}

{% endblock %}
</script>


{% block content %}

<h3 class="mb-3">{{object.name}}
    {% if user == object.user %}
    <span style="float: right;">
        <a href="{% url 'edit_project' object.id %}" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit project"><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_project' object.id %}" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Delete project"><i class="fas fa-trash-alt"></i></a>
    </span>
    {% endif %}
</h3>
<h6>{{object.git_repo}}</h6>
<h6>{{object.description}}</h6>

<hr>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active tab-link" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="true"><i style="margin-right:6px" class="fas fa-laptop-code"></i>Code changes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-link" id="issue-tab" data-toggle="tab" href="#issue" role="tab" aria-controls="issue" aria-selected="false"><i style="margin-right:6px" class="fas fa-exclamation-circle"></i>Issues</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-link" id="milestone-tab" data-toggle="tab" href="#milestone" role="tab" aria-controls="milestone" aria-selected="false"><i style="margin-right:6px" class="fas fa-map-signs"></i>Milestones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-link" id="chart-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="false"><i style="margin-right:6px" class="fas fa-chart-bar"></i>Charts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-link" id="collaborators-tab" data-toggle="tab" href="#collaborators" role="tab" aria-controls="collaborators" aria-selected="false"><i style="margin-right:6px" class="fas fa-users"></i>Collaborators</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
  <!-- code changes tab -->
    <div class="tab-pane fade show active" id="code" role="tabpanel" aria-labelledby="code-tab">
        <div>
            <div style="margin-top: 20px">
                {% if object.codechange_set.all %}
                    <!-- list of issues -->
                    {% for code_change in object.codechange_set.all %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row mt-0">
                                    <h5 class="card-title mb-0">{{code_change.message}}</h5>
                                </div>
                                <div class="row">
                                    <p class="card-text mb-0"><a href={{code_change.url}}>{{code_change.url}}</a></p>
                                </div>
                                <div class="row text-muted">
                                    {% if code_change.user %}
                                    <img class="img-thumbnail account-img" height="30" width="30" src="{{ code_change.user.profile.image.url }}">
                                    <p class="card-text mb-0 mt-1"><a href="{% url 'profile' code_change.user.username %}">{{code_change.user.username}}</a> 
                                    {% endif %}
                                        {% if not code_change.user %}
                                            <p>GitHub user: {{code_change.github_username}} &nbsp; </p> 
                                        {% endif %}
                                        {{code_change.date_time}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>There are no code changes for this project.</p>
                {% endif %}
            </div>
        </div>
    </div>
  <!-- issues tab -->
    <div class="tab-pane fade" id="issue" role="tabpanel" aria-labelledby="issue-tab">
        <div class="mt-3">
            <div style="margin-right: 6px" class="row justify-content-end">
                <span><a href="{% url 'new_issue' object.id %}" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-plus-circle"></i>New issue</a></span>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    {% if object.issue_set.all %}
                        <!-- list of issues -->
                        <table class="table table-striped">
                            <tbody>
                                {% for issue in object.issue_set.all %}
                                    {% if issue.parent_issue == None %}
                                        <tr>
                                            <td>
                                                <a class="black-link" href="{% url 'one_issue' issue.id %}">{{issue.title}}</a>
                                                {% for lab in issue.labels.all %}
                                                    <i style="margin-left: 10px; margin-top: 6px; color: {{lab.color}}" class="fas fa-tag" data-toggle="tooltip" data-placement="bottom" title="{{lab.name}}"></i>
                                                {% endfor %}
                                            </td>
                                            <td class="text-right">
                                                {% if issue.state == 'OP'%}
                                                    <i style="margin-top: 6px; color: green" class="fas fa-exclamation-circle"></i>
                                                {% else %}
                                                    <i style="margin-top: 6px; color: red" class="fas fa-exclamation-circle"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% include 'subissues.html' with issues_list=issue.subissues margin=0%}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>There are no issues for this project.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="milestone" role="tabpanel" aria-labelledby="milestone-tab">
        <div style="margin-top: 20px">
            <span>
                {% if user == object.user or user in object.collaborators.all %}
                <a href="{% url 'new_milestone' object.id %}" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-plus-circle"></i>New milestone</a>
                {% endif %}
            </span>
            <div class="mt-3">
                <div style="margin-top: 20px">
                    {% if object.milestone_set.all %}
                        {% for milestone in object.milestone_set.all %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-flex">
                                        <h5 class="card-title"><a href="{% url 'one_milestone' object.id milestone.id %}">{{milestone.title}}</a></h5> 
                                        <h5 class="ml-auto">Due date: {{milestone.date}}</h5>
                                    </div>
                                    <div class="row">
                                        <p class="card-text">{{milestone.description}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no milestones for this project.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
        <canvas id="myChart" width="375" height="200"></canvas>
    </div>
    <div class="tab-pane fade" id="collaborators" role="tabpanel" aria-labelledby="collaborators-tab">
        <div class="mt-3">
            <div style="margin-right: 6px" class="row justify-content-end">
                {% if user == object.user%}
                <span><a href="{% url 'search_collaborators' object.id %}" class="btn btn-info"><i style="margin-right: 10px" class="fas fa-plus-circle"></i>Add Collaborators</a></span>
                {% endif %}
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    {% if object.collaborators %}
                        <!-- list of collaborators -->
                        {% for collaborator in object.collaborators.all %}
                        <div class="card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="media mb-4">
                                        <img class="img-thumbnail account-img" height="60" width="60" src="{{ collaborator.profile.image.url }}">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="card-title mb-0"><a href="{% url 'profile' collaborator.username %}"> &nbsp; {{collaborator.username}}</a></h5>
                                        <small class="text-secondary ml-1">&nbsp; {{collaborator.first_name}} {{collaborator.last_name}}</small>
                                    </div>
                                    {% if user == object.user%}
                                    <div>
                                        <a class="btn btn-md btn-info" href="{% url 'remove_collaborators' object.id collaborator.id %}"><i class="fas fa-user-minus mr-1"></i> Remove from project {{object.name}}</a> 
                                    </div>
                                    {% endif %}
                                </div>    
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>There are no collaborators for this project.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- add new tabs ? --> 
</div>
</ul>



{% endblock %}    