{% extends 'base.html' %}

{% block content %}

<h3 style="margin-bottom: 20px">{{object.title}}
    <span style="float: right;">
        <a href="{% url 'one_project' object.project.id %}" class="btn btn-secondary"><i style="margin-right: 10px"
                class="fas fa-arrow-circle-left"></i>Return to project</a>
    </span>
</h3>

<h6 style="margin-bottom: 50px">{{object.description}}
    <span style="float: right;">
        {% if user == object.project.user or user in object.project.collaborators.all %}
        <a href="{% url 'edit_milestone' object.project.id object.id %}" class="btn btn-info"><i
                style="margin-right: 10px" class="fas fa-edit"></i>Edit</a>
        <a href="{% url 'delete_milestone' object.project.id object.id %}" class="btn btn-secondary"><i
                style="margin-right: 10px" class="fas fa-trash-alt"></i>Delete</a>
        {% endif %}
    </span>
</h6>   

<hr>
<div class="row mt-3">
    <div class="col-12">
        {% if object.issue.all %}
            <!-- list of issues -->
            {% for issue in object.issue.all %}
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            {% if issue.state == 'OP'%}
                                <i style="margin-right: 10px; margin-top: 6px; color: green" class="fas fa-exclamation-circle"></i>
                            {% else %}
                                <i style="margin-right: 10px; margin-top: 6px; color: red" class="fas fa-exclamation-circle"></i>
                            {% endif %}

                            <h5 class="card-title mr-1"><a class="black-link" href="{% url 'one_issue' issue.id %}">{{issue.title}}</a></h5>
                                    
                            <!-- labels -->
                            {% for label in issue.labels.all %}
                                <i style="margin-right: 10px; margin-top: 6px; color: {{label.color}}" class="fas fa-tag" data-toggle="tooltip" data-placement="bottom" title="{{label.name}}"></i>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <i style="margin-right: 10px; margin-top: 8px; color: white" class="fas fa-ellipsis-h"></i>
                            <p class="card-text">{{issue.description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no issues for this milestone.</p>
        {% endif %}
    </div>
</div>

{% endblock %}