{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
    <div class = 'col-lg-8 m-auto'>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <a class="btn btn-dark mt-2" href="{% url 'social:begin' 'github' %}"><i class="fab fa-github fa-lg mr-2"></i>Sign in with GitHub</a><br>
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}"> Sign In</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}